node_modules/
cypress/screenshots
env_local.js
proyecto-cypress/cypress/videos/
proyecto-cypress/cypress/screenshots/
proyecto-cypress-datos/cypress/videos/
proyecto-cypress-datos/cypress/screenshots/
.DS_Store
cypress/.DS_Store
resemble/results/
backstop/backstop_data/bitmaps_reference
backstop/backstop_data/bitmaps_test
backstop/backstop_data/html_report
data-pool/data
